@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;}

::placeholder{
  opacity: 0.5;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  color: rgb(37, 12, 95);
  font-weight: bolder;
  font-size: 2rem;
}
.subtitle{
  color: rgb(34, 34, 34);
  font-size: 1.5rem;
}
form{
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
 background-color: white;
 display: inline-block;
}

input{
  display: block;
  padding: 12px 6px;
  border: none;
  margin: 1.5rem 0rem;
  background-color: rgba(209, 209, 209, 0);
  border-bottom: 1px solid lightgray;
  border-radius: 2px;
  width: 250px;
  transition: all 150ms ease-in-out;
}
input:focus{
  outline: none;
  border-bottom: 1px solid rgb(68, 68, 68)
}
select{
  display: block;
  padding: 12px 6px;
  border: none;
  margin: 1rem 0rem;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid lightgray;
  border-radius: 2px;
  width: 262px;
}

option{
  padding: 1rem 6px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
option:focus{
  outline: none;
  border-bottom: 1px solid rgb(68, 68, 68)
}
button[type="submit"]{
  padding: 12px 6px;
  border: none;
  background-color: rgb(76, 28, 187);
  border-radius: 2rem;
  box-shadow: 0px 3px 10px 5px rgba(76, 28, 187, 0.37);
  color: white;
  font-size: 1rem;
  width: 100px;
  margin: 1rem 4rem;

}
button[type="submit"]:hover{
  background-color: rgb(37, 72, 187);

}
.title{
  text-align: center;
  padding: 1rem;
}
.form{
  margin: 0 1rem;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.transfer-data{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
.transfer-data input{
  margin-top: 0;
}
input[name="amount"]{
  -webkit-appearance: none;
  -moz-appearance: textfield;
}